{
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "jsx": true,
        "decorators": true
      },
      "transform": {
        "react": {
          "runtime": "automatic"
        }
      }
    }
  }
  