.fc-toolbar-title {
    color: rgb(255, 202, 202); 
    font-size: 1.5em;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
}
.fc-col-header-cell {
    color: rgb(255, 158, 158); 
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

:root {
    --fc-border-color: rgb(102, 102, 102);
    --fc-today-bg-color: #4d4d4d !important;
    --fc-neutral-bg-color: #3c3c3c !important;
    --fc-list-event-hover-bg-color: #171821;
}

.fc-list-event {
    padding: 5px 5px !important; 
    margin-bottom: 10px !important;
    background-color: #171821;
}
.fc-list-event:hover {
    background-color: #171821 !important;
    opacity: 0.8 !important;
}
.fc-list-day-text {
    color: rgb(201, 201, 201) !important;
}
.fc-list-day-side-text {
    color: rgb(201, 201, 201) !important;
}
.fc-list-event-time {
    display: none !important;
}
.fc-list-event-graphic {
    display: none !important;
}
.fc-list-event-title {
    border: none !important;
}
.fc-list-day-cushion {
    padding: none !important;
}

.fc-day-disabled {
    background-color: #171821 !important; 
    color: #a0a0a0;  
    pointer-events: none;   
    opacity: 0.6;          
}
.fc-event {
    color: white;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 170px;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 15px !important;
}
.fc-event:hover {
    background-color: #3c3c3c;   
    box-shadow: none;        
}

.dialog {
    z-index: 9999 !important;
}

.fc-daygrid-more-link {
    color: rgb(255, 255, 255); 
    font-weight: bold;
    background-color: #949494;
    padding: 8px 12px !important;
    border-radius: 4px;
    transition: 0.3s;
    margin-left: 37px;
    margin-top: 6px !important;
    font-size: 20px;
}

.fc-daygrid-more-link:hover {
    background-color: #ffffff !important;
    color: #171821; 
    text-decoration: underline;
}

.fc-daygrid-day-frame:hover {
    background-color: #3c3c3c;
}

.fc-daygrid-day-number {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.1em;
}
  
  
.fc-day-sun .fc-daygrid-day-frame {
    background-color: #272727;
}


.fc-day-sun:hover .fc-daygrid-day-frame {
    background-color: #3c3c3c;
    cursor: pointer;
}

.fc .fc-more-popover .fc-popover-body {
    background-color: #3c3c3c;
}

.fc .fc-more-popover {
    background-color: #3c3c3c;
    z-index: 1000 !important;
}

.fc .fc-popover-title {
    color: white;
    font-weight: bold;
}
  